<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Redux async Sample</title>
</head>
<body>
  <h1>List User from API</h1>
  <ul id="users"></ul>
</body>
</html>