<!DOCTYPE html>
<html>
<head>
  <title>Redux Toolkit Sample</title>
</head>
<body>
  <h1>Sample</h1>
  <p>Books: <span id="book">0</span></p>
  <button id="increment">Increment</button>
  <button id="decrement">Decrement</button>
  <button id="incrementByAmount">Increment by 5</button>
  <p>Pens: <span id="pen">0</span></p>
  <button id="increasePen">Add Pen</button>
  <button id="decreasePen">Remove Pen</button>
  <h1>List of Posts from API</h1>
  <ul id="posts"></ul>
</body>
</html>