<!DOCTYPE html>
<html>
<head>
  <title>Redux Toolkit Sample</title>
</head>
<body>
  <h1>Counter</h1>
  <p>Count: <span id="count">0</span></p>
  <button id="increment">Increment</button>
  <button id="decrement">Decrement</button>
  <button id="incrementByAmount">Increment by 5</button>
</body>
</html>